/* @import url(https://fonts.googleapis.com/css?family=PT+Sans);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */
/* body {
  animation: shakebody linear 6s infinite;
} */
/* .bd {
  animation: shakebody linear 6s infinite;
  z-index: 2;
} */
.container {
  justify-content: center;
  align-items: center;
  background-color: #d6ffff;
  z-index: 3;
  flex: 1;
}
.lgo {
  height: 100px;
  width: 150px;
}
.bg-hedr {
  height: 20px;
  width: 100%;
}
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;

}
.btn {
  background-color: transparent; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn:hover {
  background-color: #49db4e; /* Green */
  color: white;
  border-radius: 10px;
}

/* new code for new design */
button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  /* margin: 20px 30px; */
  background: rgba(0,0,0,0.09);
}

button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}


/*----- button 5 -----*/
.btn::after{
  left:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn span::after{
  right:0;
  top: 0;
  transition-duration: 0.4s;
}
.btn::before{
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}
.btn span::before{
  left: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
/* Welcome to animated website css ...here */
h2 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 40px;
  display: inline-flex;
  padding-left: 280px;
  text-transform: uppercase;
}
h2 .static-txt {
  color: #49db4e;
  margin-right: 10px;
}
h2 .dynamic-txt {
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: text 8s linear infinite alternate;
  border-right: 3px solid white;
  font-weight: 800;
}
@keyframes text {
  0%{
    width: 0ch;
  }
  50%{
    width: 17ch;
  }
}
/* center image   ................................... size*/
animate {
  display: flex-end;
}
.para {
  color: green;
  /* padding-top: 30px; */
  font-weight: 500;
  font-size: 20px;
  padding-right: auto;
}

.center1 {
  height: 400px;
  width: auto;
  float: left;
  margin: 0px 0px 15px 20px;
  text-align: center;
  align-items: center;
}
.para p {
  overflow: hidden;
  border-right: .15em solid orange;
  font-size: 1.6rem;
  width: 0;
}
.para p{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 1.3rem;
  width: 0;
  animation: typing 2s forwards ease-in-out;
}
@keyframes typing {
  from { width: 0 }
  to { width: auto }
}
.para h1{
  overflow: hidden;
  border-right: .15em solid green;
  /* white-space: nowrap; */
  animation: 
  head 4s  forwards infinite;
  /* font-size: 1.6rem; */
  /* width: 0; */
}
@keyframes head {
  from { width: 0 }
  to { width: 32% }
}
a {
  color: green;
  height: 100px;
  width: auto;
  text-decoration: none;
  background-color: #49db4e;
  align-items: center;
  border-radius: 3px;
  border-bottom: 8px solid rgb(255, 0, 255);
  border-right: 6px solid rgb(29, 197, 183);
  border-bottom-right-radius: 9px;
  
}
a .btn1 {
  z-index: 1;
}
a :hover {
  background-color: black;
  color: yellow;
}
/* footer color  */
.fotr {
  padding: 60px;
}